* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: local('Roboto') url(./assets/fonts/Roboto-Regular.ttf) format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: local('Roboto') url(./assets/fonts/Roboto-Bold.ttf) format(truetype);
  font-weight: 700;
}

.inputGroup {
  width: 10rem;
  height: 4rem;
}

.inputGroup input,
.inputGroup label,
.inputGroup select {
  width: 100%;

  box-sizing: border-box;
  border: 1px solid #47594f;
  background-color: #39443e;

  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}

.inputGroup label {
  border-top: none;
  display: inherit;
}

::placeholder {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;

  margin-top: 2rem;
}

.rowReverse {
  display: flex;
  flex-direction: row-reverse;

  margin-top: 2rem;
}

.h2Title {
  color: white;
}

.exchangeButton {
  height: 2.5rem;
  width: 2rem;

  background-color: white;
  border-style: none;
}

.exchangeButton:hover {
  background: #39443e;
}

.exchangeIcon {
  height: 1rem;
}

.sideBar {
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: fit-content;
  padding: 0.8rem;

  background-color: #39443e;
  color: white;
}

.sideBar :first-child {
  margin-bottom: 0.8rem;
}
